<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

    <main>

        <div id="header">
            <h1>Projects</h1>
            <button id="load-projects">Load Projects</button>
            <input type="text" id="search" placeholder="Search">
            <div>
                Tested <input type="checkbox" id="tested"> 
            </div>
            <div>
                Vulnerable <input type="checkbox" id="vulnerable" >
            </div>

        </div>

        <table>

            <thead>

                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Visibility</th>
                    <th>Author</th>
                    <th>View</th>
                    <th>Tested</th>
                </tr>

            </thead>

            <tbody id="projects">

            </tbody>

        </table>

    </main>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>