/* Root */
root {
    --vh: calc(100vh - 1px);
    --vw: calc(100vw - 1px);
}

/* ------------------------------------------- */
/* Global default */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------- */

main {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr, td, th {
    padding: 0;
    margin: 0;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    text-align: center;
}

td, th {
    padding: 0.5rem;
}

/* Alternate row color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    max-width: 200px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    outline: none;
}

.vulnerable {
    /* italic, red */
    font-style: italic;
    color: red;
}

/* ------------------------------------------- */
